<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0"
          package="com.tencent.timluo.demo">

    <permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>

    <application
        android:name="com.tencent.timluo.demo.SelfApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AppManagerActivity"
            ></activity>
        <activity android:name=".activity.JniTest"
            ></activity>
        <activity
            android:name=".activity.DActivity"
            android:label="@string/title_activity_d"
            >
        </activity>
        <activity android:name=".activity.WebViewActivity"></activity>
    </application>


</manifest>
